In [5]:
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

sec = pdr.get_data_yahoo('005930.KS', start='2018-05-04')
msft = pdr.get_data_yahoo('MSFT', start='2018-05-04')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
sec.head()

               Open     High      Low    Close     Adj Close    Volume
Date
2018-05-04  53000.0  53900.0  51800.0  51900.0  47034.734375  39565391
2018-05-08  52600.0  53200.0  51900.0  52600.0  47669.113281  23104720
2018-05-09  52600.0  52800.0  50900.0  50900.0  46128.468750  16128305
2018-05-10  51700.0  51700.0  50600.0  51600.0  46762.851562  13905263
2018-05-11  52000.0  52200.0  51200.0  51300.0  46490.968750  10314997